{{ define "New" }}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Golang Mysql Crud Beispiel</title>
    <meta charset="UTF-8" />
</head>
<body>
    <h1>Golang Mysql Crud Beispiel</h1>
    <a href="/">HOME</a> | <a href="/new">NEW</a>
   <h2>New Name and City</h2>
    <form method="POST" action="insert">
      <label> Name </label><input type="text" name="name" /><br />
      <label> City </label><input type="text" name="city" /><br />
      <input type="submit" value="Save user" />
    </form>
</body>
</html>
{{ end }}